/* Temas del segundo período*/

.texto{
   
    font-size: 30px;
    padding-top: 140px;
    text-align: justify;
    font-family: serif;
    float: left;

     
}
body{
    font-family: sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("cielo.jpg");
    background-repeat: no-repeat;

}
.img{

    height: 700px;
width: 1300px;
}

.img2{

height: 300px;
width: 300px;

}

.img3{

height: 500px;
width: 300px;

}

.img4{

height: 100px;
width: 200px;

}

.img5{

height: 100px;
width: 100px;
}

.img6{

height: 200px;
width: 200px;
}

.img7{

height: 200px;
width: 200px;
}


.titulo{
    font-size: 50px;
    color: rgb(0, 0, 0); 
 text-align: center;
}
.imagent{

        height: 183px;
        width: 325px;
        background-repeat: no-repeat;
        background-image: url("circuito.jpg");
        float: left;
}



.alimenticio{

height: 300px;
width: 319px;
background-repeat: no-repeat;
background-image: url("tras\ alimen.PNG");
float: left;

}

.anorexia{

height: 350px;
width: 400px;
background-image: url("anorexia.jpg");
background-repeat: no-repeat;
float: left;

}

.bulimia{

height: 250px;
width: 300px;
background-repeat: no-repeat;
background-image: url("bulimia.PNG");
float: left;


}


.excel {

    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    font-family: serif;
    float: left;



}


.logopro{

    height: 200px;
    width: 100px;
}


.imgT{

    height:50px;
    width: 50px;
    background-image: url("tratosx3.png")
}

.ImgO{

    height: 50px;
    width: 50px;
    background-image: url("oir.png")

}
.ImgP{

height: 50px;
width: 50px;
background-image: url("opinion.jpg");

}

.ImgV{

height: 50px;
width: 50px;
background-image: url("Violencia.png";

}

.ImgI{

    height: 50px;
width: 50px;
background-image: url("Identidad.jpg");


}


.ImgE{


height: 50px;
width: 50px;
background-image: url("estereotipos.png");0
}


.MapaCo{

    height: 700px;
    width: 1300px;


}

.cont{

    height: 5px;
    width:50px;


}


}


