/* Temas del segundo período*/

.texto{
   
    font-size: 30px;
    padding-top: 140px;
    background-color: rgb(105, 127, 224);
    text-align: justify;
    font-family: serif;
    float: left;

     
}
body{
    
    background-image: url("cielo.jpg");
    background-repeat: no-repeat;

}
.titulo{
    font-size: 50px;
    color: rgb(0, 0, 0); 
 text-align: center;
}
.imagent{

    height: 183px;
    width: 325px;
    background-repeat: no-repeat;
    background-image: url("circuito.jpg");
    float: left;
}

.mapacon{

height: 400px;
width: 1315px;
background-repeat: no-repeat;
background-image: url(mapa.jpeg);
float: left;


}




