/* Temas del segundo período*/

.texto{
   
    font-size: 30px;
    padding-top: 140px;
    text-align: justify;
    background-color: rgb(69, 125, 182);
    font-family: serif;
    float: left;

     
}
body{
    
    background-image: url("cielo.jpg");
    background-repeat: no-repeat;

}
.titulo{
    font-size: 50px;
    color: rgb(0, 0, 0); 
 text-align: center;
}
.imagent{

    height: 181px;
    width: 310px;
    background-repeat: no-repeat;
    background-image: url("circuito.jpg");
    float: left;
}

